
<main class="main users">
    <div class="container">
        <% if (typeof alert_message !== 'undefined' && alert_message !='') { %>
            <div class="alert alert-<%= alert_message[0].type %>"><%= alert_message[0].msg %></div>
          <% } %>
    
        <div class="alert alert-danger">Sorry ! You Have Not Rights For Access That Page You want to go .</div>
    
      <h2 class="main-title">Access Forbidden</h2>
      <div class="row stat-cards">
        <div class="col-md-12 col-xl-12">

  
              <article class="stat-cards-item" style="display: grid;grid-template-columns: 1fr 1fr;">
                <div style="display: flex;flex-direction: row;align-items: center;">
                  <div class="stat-cards-icon primary">
                    <i data-feather="bar-chart-2" aria-hidden="true"></i>
                  </div>
                  <div>
                    <p class="stat-cards-info__num">0</p>
                    <p class="stat-cards-info__title">--</p>
                  </div>
                </div>
  
                <div class="stat-cards-info" style="display: flex;justify-content: flex-end;">
                  <div class="button secondary-default-btn">
                    <a href="<%= base_url('dashboard') %>" title="Add Courses">
                      <p class="stat-cards-info__progress">
                        <span class="stat-cards-info__profit success">
                          <i data-feather="trending-up" aria-hidden="true"></i>
                        </span>
                        Go to Dashboard
                      </p>
                    </a>
                  </div>
                </div>
              </article>
        </div>
      </div>


  
      <div class="row" style="margin-top: 20px;">
        <div class="col-lg-12">
          <div class="users-table table-wrapper">
                <div class="sign-up-form form">
                    
                    <div class="d-flex justify-content-center mt-100">
                        <div class="bowl">
                          <div class="inner">
                            <div class="fill">
                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                                <path class="waveShape" d="M300,300V2.5c0,0-0.6-0.1-1.1-0.1c0,0-25.5-2.3-40.5-2.4c-15,0-40.6,2.4-40.6,2.4
                            c-12.3,1.1-30.3,1.8-31.9,1.9c-2-0.1-19.7-0.8-32-1.9c0,0-25.8-2.3-40.8-2.4c-15,0-40.8,2.4-40.8,2.4c-12.3,1.1-30.4,1.8-32,1.9
                            c-2-0.1-20-0.8-32.2-1.9c0,0-3.1-0.3-8.1-0.7V300H300z" />
                              </svg>
                            </div>
                          </div>
                        </div>
                        
                        </div>
       
                    <div class="margin-bottom-links">
                        <button class="error-label">Access Forbidden</button>

                        <a class="forget-link link-btn" href="<%= base_url('dashboard') %>"><span class="icon home" aria-hidden="true"></span>&nbsp; Go Home.</a>
                    </div>
                </div>
          </div>
  
        </div>
      </div>
    </div>
  </main>
